<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bibliotheek - Add Boek</title>
<link rel="stylesheet" th:href="@{/css/add.css}" />
</head>
<body>
	<!-- Navbar -->
	<div th:insert="~{utils :: navbar}"></div>
	<h1 th:text="|Welkom terug, ${user.username}!|"></h1>
	<th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
		<h1 th:text="|Rol: Admin|"></h1>
	</th:block>
	<th:block
		th:unless="${#authorization.expression('hasRole(''ADMIN'')')}">
		<h1 class="rol" th:text="|Role: User|"></h1>
	</th:block>
	<form th:action="@{/bibliotheek/add}" th:object="${boek}" method="post">
		<p>
			<label for="boekNaam">Boek Naam</label> <input type="text"
				id="boekNaam" th:field="*{boekNaam}" size="20" /> <span
				th:if="${#fields.hasErrors('boekNaam')}" th:errorclass="error"
				th:errors="*{boekNaam}"></span>
		</p>
		<p>
			<label for="auteurs">Auteurs</label> <input type="text" id="auteurs"
				th:field="*{auteurs[0]}" size="20" /> <input type="text"
				id="auteurs" th:field="*{auteurs[1]}" size="20" /> <input
				type="text" id="auteurs" th:field="*{auteurs[2]}" size="20" /> <span
				th:if="${#fields.hasErrors('auteurs')}" th:errorclass="error"
				th:errors="*{auteurs}"></span>
		</p>
		<p>
			<label for="isbn">ISBN-Nummer</label> <input type="text" id="isbn"
				th:field="*{isbn}" size="20" /><span
				th:if="${#fields.hasErrors('isbn')}" th:errorclass="error"
				th:errors="*{isbn}"></span>
		</p>
		<p>
			<label for="aankoopprijs">Aankoopprijs</label> <input type="text"
				id="aankoopprijs" th:field="*{aankoopprijs}" size="20" /><span
				th:if="${#fields.hasErrors('aankoopprijs')}" th:errorclass="error"
				th:errors="*{aankoopprijs}"></span>
		</p>
		<p>
			<label for="aantalSterren">Aantal Sterren</label> <input type="text"
				id="aantalSterren" th:field="*{aantalSterren}" size="20" /><span
				th:if="${#fields.hasErrors('aantalSterren')}" th:errorclass="error"
				th:errors="*{aantalSterren}"></span>
		</p>
		<p>
			<label for="locatie1">Locatie 1</label> <input type="text"
				id="locatie1" th:field="*{locaties[0].plaatsnaam}" size="20"
				placeholder="Plaatsnaam" /> <input type="text" id="locatie1_code1"
				th:field="*{locaties[0].plaatscode1}" size="20"
				placeholder="Plaatscode1" /> <input type="text" id="locatie1_code2"
				th:field="*{locaties[0].plaatscode2}" size="20"
				placeholder="Plaatscode2" /> <label for="locatie2"> Locatie
				2</label> <input type="text" id="locatie2"
				th:field="*{locaties[1].plaatsnaam}" size="20"
				placeholder="Plaatsnaam" /> <input type="text" id="locatie2_code1"
				th:field="*{locaties[1].plaatscode1}" size="20"
				placeholder="Plaatscode1" /> <input type="text" id="locatie2_code2"
				th:field="*{locaties[1].plaatscode2}" size="20"
				placeholder="Plaatscode2" /> <label for="locatie3">Locatie
				3</label> <input type="text" id="locatie3"
				th:field="*{locaties[2].plaatsnaam}" size="20"
				placeholder="Plaatsnaam" /> <input type="text" id="locatie3_code1"
				th:field="*{locaties[2].plaatscode1}" size="20"
				placeholder="Plaatscode1" /> <input type="text" id="locatie3_code2"
				th:field="*{locaties[2].plaatscode2}" size="20"
				placeholder="Plaatscode2" /><span
				th:if="${#fields.hasErrors('locaties')}" th:errorclass="error"
				th:errors="*{locaties}"></span>
		</p>
		<p>
			<label for="img">Afbeelding Cover</label> <input type="text" id="img"
				th:field="*{img}" size="20" /><span
				th:if="${#fields.hasErrors('img')}" th:errorclass="error"
				th:errors="*{img}"></span>
		</p>
		<!-- <p>
			<label for="locaties">Locaties</label> <input type="text"
				id="locaties" name="locaties" size="20" />
		</p>-->
		<button type="submit">Save</button>
	</form>
	<div th:insert="~{utils :: footer}"></div>
</body>
</html>