<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bibliotheek - Home</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar">
		<h1 class="navbar-title">
			<a href="">Bibliotheek LDK</a>
		</h1>
		<ul class="navbar-items">
			<li class="navbar-item"><a href="">Alle boeken</a></li>
			<li class="navbar-item"><a href="#">Populairste boeken</a></li>
			<li th:if="${account.role == 'Admin'}" class="navbar-item"><a
				href="#">Boek toevoegen</a></li>
			<li class="navbar-item"><a href="login">Uitloggen</a></li>
		</ul>
	</nav>

	<h1 th:text="|Welkom terug, ${account.username}!|"></h1>
	<div class="book-container">
		<a href="login" th:each="boek : ${boeken}" class="book-card">
			<div class="book-card-title" th:text="${boek.getNaam}"></div>
			<div class="book-card-author" th:text="${boek.getAuteurs}"></div>
		</a>
	</div>
</body>
</html>