<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bibliotheek - Boek</title>
<link rel="stylesheet" th:href="@{/css/detail.css}" />
</head>
<body>
	<!-- Navbar -->
	<div th:insert="~{utils :: navbar}"></div>
	
	<h1 th:text="|Welkom terug, ${user.username}!|"></h1>
	<th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
		<h1 th:text="|Rol: Admin|"></h1>
	</th:block>
	<th:block
		th:unless="${#authorization.expression('hasRole(''ADMIN'')')}">
		<h1 class="rol" th:text="|Role: User|"></h1>
	</th:block>
	<div class="book-details">
		<img alt="BoekImg" th:src="${boek.getImg}">
		<div>
			<h2 th:text="${boek.getBoekNaam}"></h2>
			<p>
			Auteurs:
				<p th:each="auteur : ${boek.getAuteurs}"
				th:if="${auteur != null and not #strings.isEmpty(auteur)}"
				th:text="${auteur}">
				</p>
			</p>
			<p th:text="|ISBN-nummer: ${boek.getIsbn}|"></p>
			<p>Beschikbaar in:
				<p th:each="locatie: ${boek.getLocaties}"
				th:text="${locatie.getPlaatsnaam}"></p>
			</p>
			<p th:text="|Vind-Ik-Leuks: ${boek.getAantalSterren}|"></p>
			<p th:text="|Prijs: ${boek.getAankoopprijs}|"></p>
			<a
				th:if="${!user.getFavorieten.contains(boek.getBoekID) && user.getFavorieten.size() < user.getMaxAantalFavs}"
				th:href="|/favorieten/add/${boek.getBoekID}|">
				<button>Voeg toe aan favorieten</button>
			</a> <a th:if="${user.getFavorieten.contains(boek.getBoekID)}"
				th:href="|/favorieten/remove/${boek.getBoekID}|">
				<button>Verwijder uit favorieten</button>
			</a>
		</div>
	</div>
	<div th:insert="~{utils :: footer}"></div>
</body>
</html>